.menufront-page{
    max-width: 100%;
    height: auto;
}
.menufront-frame{
    max-width: 100%;
    height: auto;
}
.menusecondPage-frame{
    max-width: 100%;
    height: auto;
}
.menusecond-page{
    max-width: 100%;
    height: auto;
}