.winepageBackground{
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
}
.WinelistBanner{
    max-width:100%;
}
.body {
    display: block;
    margin: 0%;
}
.winlistpage-frame{  
  justify-content: center;
  text-align: center;
}
.winelistpage{
    height: 800px;
    padding-top: 1rem;
}

/* IN SMALL SCREEN */
@media (max-width: 700px) {
   .winepageBackground{
       width: 100%;
       height: auto;
       overflow-y: hidden;
    }
    .WinelistBanner{
        width: 100%;
        height: auto
    
    }
    .winelistpage{
    height:100%;
    width:100%;

    }
}
