/* OrdernowModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wineposter-frame {
    position: relative;
    width: fit-content; 
    margin: 0 auto; 
  }
  
  .wineposter {
    position: relative;
    max-width: 20%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  
  .close-button {
    top: 0;
    right: 0; 
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(249, 246, 246);
    position: absolute;
    padding-right: 41%;
    justify-content: center;
    font-size: 2rem;
  }
  .close-button:hover{
    color: black;
  }
  .OrdernowPoster-btn {
    color: rgb(55, 252, 0);
    border-color:black;
    background-color: rgb(3, 4, 3);
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1; 
    border-radius:10px;
    box-shadow: none;
  }
  .OrdernowPoster-btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(2, 251, 10);
  }
  .ordernowPoster-navlink{
    text-decoration: none;
    color: inherit;
  }
 /* IN SMALL SCREEN */
@media (max-width: 700px) {
  .modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wineposter-frame {
    position: relative;
    width: fit-content; 
    margin: 0 auto; 
  }
  
  .wineposter {
    position: relative;
    max-width: 60%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  
  .close-button {
    top: 0;
    right: 0; 
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(249, 246, 246);
    position: absolute;
    padding-right: 25%;
    justify-content: center;
    font-size: 2rem;
  }
  .close-button:hover{
    color: black;
  }
  .OrdernowPoster-btn {
    color: rgb(55, 252, 0);
    border-color:black;
    background-color: rgb(3, 4, 3);
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1; 
    border-radius:10px;
    box-shadow: none;
  }
  .OrdernowPoster-btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(2, 251, 10);
  }
  .ordernowPoster-navlink{
    text-decoration: none;
    color: inherit;
  }
}