.row{
    margin-right: 0%;
}
.tilebox{
    margin: 0%;
}
.tileframeMain{
    max-width:100%;
    overflow-y: hidden;
}
.tile1frame{
    max-width:100%;
    height: 100%;
}
.tile1img{
    max-width:100%;
    height: 100%;
    padding-top: 10px;
}
.tile2frame{
    max-width:100%;
    height:100%;
    padding-top: 10px;
}
.tile2img{
    max-width: 100%;
    height: 100%;
    padding-top: 10px;
}
.tile3frame{
    max-width:100%;
    height:100%;
    padding-top: 10px;
}
.tile3img{
    max-width:100%;
    height:100%;
    padding-top: 10px;
}
.tile4frame{
    max-width: 100%;
    height: 100%;
    padding-top: 10px;
}
.tile4img{
    max-width: 100%;
    height: 100%;
    padding-top: 10px;
}


/* IN SMALL SCREEN */
 @media (max-width: 700px) {
   
    .tileframeMain {
    display:flex;
     max-width:100%;
    }
    .tile1frame {
    max-width:100%;
    height:auto;
   }


   .tile1img {
    max-width: 100%;
    height: auto;
   }
   .tile2frame {
    max-width: 100% ;
    height:auto;
   }
   .tile2img {
    max-width: 100%;
    height:auto;
    object-fit: cover;
   }
   .tile3frame {
    max-width: 100% ;
    height:auto;
   }
   .tile3img {
    max-width: 100%;
    height:auto;
    place-items: center;
   }
   .tile4frame {
    max-width:100%;
    height:auto;
   }
   .tile4img {
    max-width:100%;
    height:auto;
    place-items: center;
   }


}
